
@{
    ViewBag.Title = "Index";
}

<div class="container" style="height: 100vh; margin-top:10%">
    <div class="row mt-4 m-auto">
        <div class="col-6">
            <button type="button" class="btn btn-outline-primary w-100 h-100 p-5" style="font-size: 28px">
                @Html.ActionLink("Anag.Trasgressori", "Trasgressori", "Home", htmlAttributes: new { @class = "text-decoration-none nav-link active" })
            </button>
        </div>
            <div class="col-6">
                <button type="button" class="btn btn-outline-secondary w-100 h-100 p-5" style="font-size: 28px">
                    @Html.ActionLink("Codici & Violazioni", "Violazioni", "Home", htmlAttributes: new { @class = "text-decoration-none nav-link" })
                </button>
            </div>
        </div>
            <div class="row mt-4 m-auto">
                <div class="col-6">
                    <button type="button" class="btn btn-outline-success w-100 h-100 p-5" style="font-size: 28px">
                        @Html.ActionLink("Ins.Verbale", "Verbali", "Home", htmlAttributes: new { @class = "text-decoration-none nav-link" })
                    </button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-outline-warning w-100 h-100 p-5" style="font-size: 28px">
                        @Html.ActionLink("Registro Verbali", "RegistroVerbali", "Home", htmlAttributes: new { @class = "text-decoration-none nav-link" })
                    </button>
                </div>
            </div>

</div>