body {
    width: 100vw;
    height: 100vh;
}

.container {
    max-width: 900px;
    height:100vh;
}

container-fluid {
    max-width: 1200px;
    height:100vh;
}

.navbar, .navbar-brand {
    padding: 0;
    margin: 0
}

a {
    text-decoration: none;
    color: #004a81;
}

:root {
    --bs-primary: #004a81;
    --bs-primary-rgb: 0, 74, 129;
}

.btn-outline-primary {
    --bs-btn-color: #4cb4de;
    --bs-btn-border-color: #4cb4de;
    --bs-btn-hover-bg: #4cb4de;
    --bs-btn-hover-border-color: #4cb4de;
    --bs-btn-active-bg: #4cb4de;
    --bs-btn-active-border-color: #4cb4de;
}

.card {
    --bs-card-cap-bg: #b7c6e1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-bottom {
    background-color: #b7c6e1;
    color: #004a81
}

.card-top {
    padding-bottom: 0.1rem;
    color: #004a81
}

.borders {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

label {
    display: inline
}