body {
    width: 100vw;
    height: 100vh;
}

.container {
    max-width: 900px;
}

container-fluid {
    max-width: 1200px;

}

.navbar, .navbar-brand {
    padding: 0;
    margin: 0
}

a {
    text-decoration: none;
    color: #004a81;
}

:root {
    --bs-primary: #004a81;
    --bs-primary-rgb: 0, 74, 129;
}

.btn-outline-primary {
    --bs-btn-color: #006187;
    --bs-btn-border-color: #006187;
    --bs-btn-hover-bg: #006187;
    --bs-btn-hover-border-color: #006187;
    --bs-btn-active-bg: #006187;
    --bs-btn-active-border-color: #006187;
}

.btn-outline-secondary {
    --bs-btn-color: #d15c82;
    --bs-btn-border-color: #d15c82;
    --bs-btn-hover-bg: #d15c82;
    --bs-btn-hover-border-color: #d15c82;
    --bs-btn-active-bg: #d15c82;
    --bs-btn-active-border-color: #d15c82;
}

.btn-outline-success {
    --bs-btn-color: #36c180;
    --bs-btn-border-color: #36c180;
    --bs-btn-hover-bg: #36c180;
    --bs-btn-hover-border-color: #36c180;
    --bs-btn-active-bg: #36c180;
    --bs-btn-active-border-color: #36c180;
}

.btn-outline-warning {
    --bs-btn-color: #fea51e;
    --bs-btn-border-color: #fea51e;
    --bs-btn-hover-bg: #fea51e;
    --bs-btn-hover-border-color: #fea51e;
    --bs-btn-active-bg: #fea51e;
    --bs-btn-active-border-color: #fea51e;
}

.card {
    --bs-card-cap-bg: #b7c6e1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-bottom {
    background-color: #b7c6e1;
    color: #004a81
}

.card-top {
    padding-bottom: 0.1rem;
    color: #004a81
}

.borders {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

label {
    display: inline
}